<form novalidate name="postForm" ng-submit="vm.postFormSubmit(postForm)">
  <div class="form-group">
    <label for="festName">Name</label>
    <input type="text" ng-model="vm.post.name" class="form-control" id="festName" placeholder="Awesome Musical Festival">
  </div>
  <div class="form-group">
    <label for="festLocation">Location</label>
    <input type="text" ng-model="vm.post.location" class="form-control" id="festLocation" placeholder="Awesome Town, CO">
  </div>
  <div class="form-group">
    <label for="festStartDate">Start Date</label>
    <input type="date" ng-model="vm.post.startDate" class="form-control" id="festStartDate">
  </div>
  <div class="form-group">
    <label for="festEndDate">Ending Date</label>
    <input type="date" ng-model="vm.post.endDate" class="form-control" id="festEndDate">
  </div>
  <label>Headlining Acts:</label>
  <div class="form-group" ng-repeat="band in vm.bands">
    <input type="test" class="form-control" ng-model="band.name" placeholder="Cool Band">
    <button class="btn btn-danger" ng-show="$last" ng-click="vm.removeBand()">-</button>
  </div>
  <button type="button"class="addfields" ng-click="vm.addBand()">Add a Band</button>

  <button type="submit" class="btn btn-default">Submit</button>
  <button type="button" class="btn btn-danger" ng-click="vm.toggleForm()">Cancel</button>
</form>
